@charset "UTF-8";
@font-face {
    font-family: "Roboto-Flex";
    src: url(fontes/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf)format("truetype");
}
body {
    background-color: #00a2ff;
    font-family: "Roboto-Flex", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

