@charset "UTF-8";
@font-face {
    font-family: "Roboto-Flex";
    src: url(fontes/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf)format("truetype");
}

footer {
    background-color: white;
    padding: 1em;
    margin: 6px auto;
    height: fit-content;
    text-align: center;
    font-family: "Roboto-Flex", sans-serif;
    box-shadow: 3px 3px 2px black;
}