@charset "UTF-8";
@font-face {
    font-family: "Roboto-Flex";
    src: url(fontes/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf)format("truetype");
}

header {
    background-color: white;
    padding: 1em;
    box-shadow: 3px 3px 2px black;
}

header > h1 {
    font-family: "Roboto-Flex", sans-serif;
    color:black;
    text-align: center;
    font-size: 3.25em;
}

header > p {
    font-size: 0.75em;
    text-align: center;
}