@charset "UTF-8";
@font-face {
    font-family: "Roboto-Flex";
    src: url(fontes/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf)format("truetype");
}
/* CSS Document */
body {
    background-color: #00a2ff;
    font-family: Arial, Helvetica, sans-serif;
}

.tags::after {
    content: "HTML";
    background-color: orangered;
    border-radius: 6px;
    padding: 2px;
    margin: 0px 5px;
}